body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
}

.container {
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color:green;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:white;
}

#quote {
    font-size: 24px;
    font-style: italic;
    color: black;
}
